body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#overlay {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 10;
  pointer-events: none;
}